<div class="universidades-container">
  <h2>Universidades</h2>
  <div class="universidad upc">
    <a [routerLink]="['/universidades/beneficio-socioeconomico']">
      <img
        src="../../../assets/images/universidades/logo-upc.png"
        alt="Logo Universidad 1"
      />
    </a>

    <div class="info">
      <h3>Universidad Peruana de Ciencias Aplicadas</h3>
      <p>
        Reconocida por su enfoque en la educación orientada a la práctica y la
        innovación. Ofrece una variedad de programas académicos en áreas como
        ingeniería, negocios, comunicación, diseño y salud.
      </p>
      <p>Dirección: Av. Salaverry 2255, San Isidro, Lima, Perú</p>
      <p>Teléfono: +51 1 4192800</p>
    </div>
  </div>
  <div class="universidad utp">
    <a [routerLink]="['/universidades/beneficio-socioeconomico']">
      <img
        src="../../../assets/images/universidades/logo-utp.png"
        alt="Logo Universidad 2"
      />
    </a>
    <div class="info">
      <h3>Universidad Tecnológica del Perú</h3>
      <p>
        Conocida por su énfasis en carreras técnicas y tecnológicas. Ofrece
        programas en áreas como ingeniería, arquitectura, negocios, comunicación
        y ciencias de la salud, con un enfoque en la formación práctica y la
        empleabilidad.
      </p>
      <p>Dirección: Av. Petit Thouars 1160, Lima 15073, Perú</p>
      <p>Teléfono: +51 1 4187777</p>
    </div>
  </div>
  <div class="universidad cayetano">
    <a [routerLink]="['/universidades/beneficio-socioeconomico']">
      <img
        src="../../../assets/images/universidades/logo-CH.png"
        alt="Logo Universidad 3"
      />
    </a>
    <div class="info">
      <h3>Universidad Peruana Cayetano Heredia</h3>
      <p>
        Reconocida por su excelencia en ciencias de la salud y biomedicina.
        Fundada en 1961, se destaca por su investigación biomédica y formación
        de profesionales en medicina, enfermería, odontología, entre otras áreas
        de la salud.
      </p>
      <p>
        Dirección: Av. Honorio Delgado 430, San Martín de Porres, Lima, Perú
      </p>
      <p>Teléfono: +51 1 3190000</p>
    </div>
  </div>
</div>
