<footer class="footer">
    <div class="footer-section">
      <h2>Nosotros</h2>
      <div class="nosotros-columns">
        <div class="column">
          <p>Lorem <strong>misión</strong> dolor sit amet consectetur. In ornare facilisi ut erat eleifend suspendisse praesent.</p>
        </div>
        <div class="column">
          <p>Lorem <strong>visión</strong> dolor sit amet consectetur. In ornare facilisi ut erat eleifend suspendisse praesent.</p>
        </div>
      </div>
    </div>
    <div class="footer-section">
      <h2>Contáctanos</h2>
      <p>its_tikafarma.contacto&commat;gmail.com</p>
      <div class="social-icons">
        <a href="#">
          <img src="../../../assets/images/footer/vector-fb.png" alt="Facebook">
        </a>
        <a href="#">
          <img src="../../../assets/images/footer/vector-ig.png" alt="Instagram">
        </a>
      </div>
    </div>
  </footer>
