<div class="carreras-container">
    <h2>Carreras</h2>
    <div class="carrera biomedica">
      <div class="info">
        <h3>Ingeniería Biomédica</h3>
        <p> Combina mecánica, electrónica, control y sistemas computacionales para diseñar y desarrollar productos y procesos automatizados. Se enfoca en la integración de tecnología avanzada para mejorar la eficiencia y funcionalidad.</p>
      </div>
    </div>
    <div class="carrera medicina">
      <div class="info">
        <h3>Medicina</h3>
        <p>La Medicina es la ciencia y práctica dedicada al diagnóstico, tratamiento y prevención de enfermedades y lesiones en seres humanos.Involucra conocimientos de anatomía, fisiología, farmacología y ética para mejorar la salud y el bienestar de las personas.</p>
      </div>
    </div>
    <div class="carrera mecatronica">
      <div class="info">
        <h3>Ingeniería Mecatrónica</h3>
        <p>Aplica principios de ingeniería y ciencias biológicas para desarrollar tecnologías y dispositivos médicos. Su objetivo es mejorar el diagnóstico, tratamiento y monitoreo de enfermedades, así como diseñar prótesis y equipos para la salud.</p>
      </div>
    </div>
  </div>
