<header class="navbar">
	<div class="navbar-logo">
        <a routerLink="/home" routerLinkActive="active">
            <img src="../../../assets/images/navbar/vector-logo-orientatest.png" alt="orientaTest">
        </a>
    </div>
	<nav class="navbar-nav">
        <a routerLink="/universidades" routerLinkActive="active">
            <img src="../../../assets/images/navbar/vector-universidad.png" alt="universidades">
        </a>
        <a routerLink="/test/vocacional" routerLinkActive="active" (click)="iniciarTest()">
            <img src="../../../assets/images/navbar/vector-test.png" alt="test">
        </a>
        <a routerLink="/user" routerLinkActive="active">
            <img src="../../../assets/images/navbar/vector-user.png" alt="cuenta">
        </a> 	 
	</nav>
</header>
