<div class="home-container">
  <div class="section left">
    <h2>¿Cómo funciona el Test?</h2>
    <p>Lorem ipsum dolor sit amet consectetur. Semper morbi lobortis scelerisque tristique dictum eleifend nunc est in. Metus hac proin elementum lobortis ullam.</p>
    <p>Amet mollis mauris nulla euismod condimentum integer mauris consectetur purus. Egestas convallis facilisi egestas suspendisse nunc netus tellus. Velit adipiscing euismod blandit duis feugiat fringilla.</p>
    <p>Pulvinar elementum maecenas pretium dui turpis tempus consequat aliquet. Cras in et massa a neque sed. Vel aliquam mattis lacinia at.</p>
  </div>
  <div class="section right">
    <div class="test-card vocational">
      <h3>VOCACIONAL</h3>
      <p>Explora tus diversos intereses de vocación</p>
    </div>
    <div class="test-card auto-perception">
      <h3>AUTO <br>PERCEPCIÓN</h3>
      <p>Explora tus cualidades, identidad y capacidad</p>
    </div>
  </div>
</div>