<div class="test-container">
  <h2>Test Vocacional</h2>
  <div class="questions-container">
    <div *ngFor="let testPregunta of questions; let i = index" class="question-row">
      <div class="question-text">{{ testPregunta.pregunta_id.enunciado }}</div>
      <div class="answer-options">
        <label>
          <input type="radio" name="question{{ i }}" (change)="onAnswer(i, 'sí')"> Sí
        </label>
        <label>
          <input type="radio" name="question{{ i }}" (change)="onAnswer(i, 'no')"> No
        </label>
      </div>
    </div>
  </div>
  <button (click)="onNext()">Siguiente</button>
</div>
